html {
  height: 100%;
  margin: var(--space-0);
  padding: var(--space-0);

  background-image: var(--selected-image-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;

  // Default styling for the app (This might be override for each checklist).
  font-family: var(--font-title);
  color: var(--text-primary);
  background-color: var(--background-main);
}

body {
  height: 100%;
  margin: var(--space-0);
  padding: var(--space-0);
}
